body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin:0px;
	background-color:white;
}
.checkout-container{
	width: 90%;
	margin-left: 5%;
	padding-top:50px;
	height: auto;
	display: inline-block;
}
/*cột bên trái*/
.checkout-container .col-left {
	width: 100%;
	height: auto;
	float: left;
	box-sizing: border-box;
	padding: 10px;
	border-right: 2px solid #e7e7f1;
}
.checkout-container .col-left .customer-infomation-card{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	/*display: none;*/
	display: inline-block;
	background-color: white;
	border: 4px solid orange;
	border-radius: 10px;
}
.checkout-container .col-left .customer-infomation-card .label{
	margin-right: 10px;
	font-size: 120%;
	color: #095764;
}
.checkout-container .col-left .customer-infomation-card .value{
	font-size: 120%;
	color: orange;
}
.checkout-container .col-left .area-address{
	width: 100%;
	height: auto;
	display: inline-block;
	background-color: white;
	margin-bottom: 10px;
}
.checkout-container .col-left .area-address form{
	width: 100%;
	height: auto;
	/*display: inline-block;*/
	display: none;
}
.area-address .area-address-left{
	width: 50%;
    height: auto;
	float: left;
}
.area-address .area-address-right{
	width: 50%;
    height: auto;
	float: left;
}
.area-address .mod-input{
	width: 100%;
}
.area-address .mod-input .label{
	padding-left: 10px;
	height: 20px;
	line-height: 20px;
	color: #095764;
	margin-bottom: 5px;
	margin-top: 10px;
}
.area-address .mod-input .field-input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	padding-left: 10px;
}
.area-address .mod-input .select-area{
	width: 90%;
	height: 100%;
	border:1px solid #095764;
	border-radius:2px;
}
.area-enable{
	background-color:white; 
	cursor: pointer;
}
.area-disable{
	background-color: #e1e1e1;
	cursor: not-allowed;
}
.area-address .mod-input .field-select{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	padding-left: 10px;
}
.area-address .mod-input .field-select .select-area .selected-address{
	color: gray;
	padding-left: 5px;
}
.area-address .mod-input .field-select .select-area .icon-next-select{
	margin-right: 5px;
	color: #095764;
	font-size: 150%;	
}
.area-address .btn-save-address{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}
.area-address .btn-save-address button{
	width: 40%;
	height: 100%;
	color: white;
	border:none;
	background-color: #ff8100;
	border-radius: 5px;
	margin-left: 50%;

}
.area-address .mod-input .field-input input{
	width: 90%;
	height: 100%;
	outline: none;
	border:1px solid #095764;
	padding-left: 5px;
	border-radius:2px;
}
.area-address .mod-input .warn{
	padding-left: 10px;
	color: red;
	opacity: 0;
	visibility: hidden;

}
.package{
	width: 100%;
	display: inline-block;
	background-color: white;
}
.content-package{
	width: 100%;
	display: inline-block;
}
.content-package .col-product-left{
	width: 70%;
	display: inline-block;
	float: left;
}
.content-package .col-product-left .select-ship{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}
.content-package .col-product-left .select-ship .option-ship{
	width: 200px;
	border-radius: 2px;
	border: 1px solid #095764;
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}
.selected-option-ship{
	border: 2px solid orange !important;
}
.content-package .col-product-left .infor-product{
	width: 100%;
	display: inline-block;
}
.content-package .col-product-left .infor-product .img-product{
	width: 80px;
	height: 80px;
	margin-left: 5px;
	margin-right: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}
.content-package .col-product-left .infor-product .infor-product-right .list-properties-product{
	width: 100%;
	display: table;
}
.content-package .col-product-left .infor-product .infor-product-right .list-properties-product .properties-product{
	padding: 3px;
	margin: 2px;
	border-radius: 5px;
	background-color: gray;
	color:black;
}
.content-package .col-product-left .infor-product .infor-product-right{
	width: 65%;
	float: left;
}
.content-package .col-product-left .infor-product .infor-product-right .name{
	font-size: 120%;
	color: black;
	margin-bottom: 5px;
	font-weight: bold;
}
.content-package .col-product-left .infor-product .infor-product-right .icon-ship{
	color: orange;
}
.content-package .col-product-price{
	width: 30%;
	display: inline-block;
	float: left;
}

/*cột bên phải*/
.checkout-container .col-right {
	width: 100%;
	height: auto;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}
.checkout-container .col-right .content{
	width: 100%;
	display: inline-block;
	background-color: white;
}
.checkout-container .col-right .bar-to-pay-btn{
	width: 100%;
	height: 50px;
}
.checkout-container .col-right .bar-to-pay-btn button{
	width: 100%;
	height: 100%;
	border:none;
	outline: none;
}
.bg-button-disable{
	background-color: gray;
}
.bg-button-enable:hover{
	background-color: #db7d1c;
}
.bg-button-enable{
	background-color: #095764;
	color: white;
}
.checkout-container .col-right .row-checkout-of-col-right{
	width: 100%;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	transition: 1s;
}
.row-checkout-of-col-right-hide{
	display: none;
}
.row-checkout-of-col-right-show{
	display: block;
}
.checkout-container .col-right .row-checkout-of-col-right .row-label{
	width: 60%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	color: #095764;
	float: left;
}
.checkout-container .col-right .row-checkout-of-col-right .value{
	width: 40%;
	height: 100%;
	text-align: right;
	padding-right: 10px;
	float: left;
	font-size: 150%;
	color: orange;
}
.checkout-container .col-right .row-checkout-of-col-right .input-discount-code{
	width: 70%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-left: 5px;
}
.checkout-container .col-right .row-checkout-of-col-right .input-discount-code input{
	width: 100%;
	height: 100%;
	border:1px solid #095764;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	outline: none;
	padding-left: 5px;
}
.checkout-container .col-right .row-checkout-of-col-right .btn-apply-code{
	width: 30%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-right: 5px;
	
}
.checkout-container .col-right .row-checkout-of-col-right .btn-apply-code button{
	width: 100%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #095764;
	color: white;
	outline: none;
	border:none;
}
@media screen and ( max-width: 700px ) {	
	.content-package .col-product-left{
		width: 100%;
	}
	.content-package .col-product-price{
		width: 100%;
	}
	.checkout-container {
		width: 100%;
		margin-left: 0px;
		padding-top:90px;
	}
	.checkout-container .col-left {
		border: none;
	}
}