body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #fbecfa;
}
.header{
	margin-top: 0px !important;
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: #095764;
}
.navbar{
	height: 20px;
	background: #00000000 !important;
	font-size: 120%;
	width: 100%;
}
.navbar ul li a{
	font-size: 90%;
	color: #ffd644 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	transition: 0.5s;
}
.navbar ul li a:hover{
	color: white !important;
}
.menu-icon{
	color:#ff8100;
	font-size: 150%; 
}
.img-slide {
	padding-top:100px;
}
.img-slide .carousel{
	margin-left: 20%;
	width: 80% !important;
 	top:50% !important;

}
.img-slide .carousel ol li{
     border-radius: 50% ;
     width: 10px;
     height: 10px;
}
.img-slide .carousel-inner{
	
}
.img-slide .carousel-item img{
  top: 0;
  left: 0;
  width: 80rem;
  height: 32rem;
  overflow: hidden;
  position: center center;
}
.services {
	width: 100%;
	height: 105px;
	box-sizing: border-box;
}
.services-content{
	width: 90%;
	height: 50px;

}
.card-service{
   width: 20%;
   height: 40px;
   border-radius: 20px;
   float: left;
   background-color: #095764;
   line-height: 40px;
   margin: 2.5%;
   cursor: pointer;
   color: white;
   transition: 0.8s;
}
.card-service .link-card {
	width: 100%;
   text-decoration: none;
   font-size: 20px;
}
.card-service .link-card{
	 text-align: center;
}
.card-service .link-card .card-icon{
   margin-left: 20px;
   margin-right: 20px;
   line-height: 40px;
}
.card-service .link-card .arrow-link{
	float: right;
	margin-right: 10px;
	font-size: 150%;
	opacity: 0;
	visibility: hidden;
}
.card-service:hover  {
	box-shadow: 2px 2px 20px 0px #b4a8a8;
	color: orange;
}
.card-service:hover .arrow-link{
	opacity: 1;
	visibility: visible;
}
.content{
	width: 60%;
}
.embed-responsive{
	width: 100%;

}
.bar-search{
	width: 100%;
	height:80px;
	line-height: 80px;
}
.search-blank{
	display: inline-block;
	margin-left: 20px;
	width:60%;
	float: left;


}
.logo{
	width: 250px;
	height: 80px;
	float:left;
	margin-left: 20px;
	box-sizing: border-box;
	overflow: hidden;

}

.search-blank  .child-search-blank .form-search{
	width: 80%;
	height: 40px;
	outline: 0;
	line-height: 100px;
	border:none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
}
.search-blank .child-search-blank .btn-search{
    border:none;
    outline: 0;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #ff8100;
	padding: 0px;
	margin: 0px;
	color: white;
}

.child-search-blank{
	width: 650px;
}
.cart-box{
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}
.cart-box .cart{
	color: #ff8100;
	font-size: 200%;
	width: 50px;
	height: 50px;
	line-height: 80px;
	cursor: pointer;
	transition: 0.8s;
}
.cart-box .num-cart{
	position: absolute !important;
	background-color: white !important;
	width: 20px !important;
	height: 20px !important;
	line-height: 20px !important;
	text-align: center !important;
	right: 10px !important;
	top:20px !important;
	border-radius: 50% !important;
	color:#ff8100 !important;
}
.cart-box .cart:hover{
	color: white;
}
.mini-menu{
	height: 40px;
	width: 100%;
	line-height: 40px;
}

.mini-card-service {
    float: left;
    width: 20%;
}
.mini-card-service a{
	color: #ffd644;
	text-decoration: none;
	transition: 0.5s;
}
.mini-card-service a:hover{
    color: white;
}
.mini-card-service a .card-icon{
	margin-right: 10px;
}
.btn-list-product{
	width: 20%;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
}
.mini-sevice-content {
    width: 80%;
    float: left;
}
.mini-sevice-content .content{
	width: 80%;
}

.drop-down-menu {
	width: 20%;
	float: left;
	text-align: center;
	color: #ffd644;
	cursor: pointer;
	position: relative;
}

.drop-down-menu:hover .drop-down-content {
	display: initial;
} 
.drop-down-menu .drop-down-content {
	position: absolute;
	background: white;
	width: 100%;
	box-shadow: 0px 0px 8px grey;
	display: none;
	left: 0px;
}

.drop-down-menu .drop-down-content a{
	text-decoration: none;
	color: rgb(114, 113, 113);
	transition: 0.5s;
}

.drop-down-menu .drop-down-content a .dropdown-item{
	transition: 0.5s;
}

.dropdown-menu.dropdown-menu-right.show {
	width: 250px;
}

li.nav-item {
	padding: 0px 0px 0px 16px;
	margin: 0px;
}

.options-menu span.nav-link {
	margin: 0px;
	height: 30px;
}

.options-menu a.nav-link {
	height: 60px;
	/* float: left; */
	color: grey;
}

ul.navbar-nav.mx-auto {
	height: fit-content;
}

.drop-down-menu .drop-down-content a .dropdown-item:hover{
	padding-right: 10px;
	background-color: rgb(235, 116, 72);
	color: rgb(255, 255, 255);
}

/*phan footer*/
.footer{
	height: 400px;
	width: 100%;
	background-color:#095764fc; 
}
/*hết footer*/
.title{
	text-align: left !important;
    margin-left:5%;
    color: rgb(15, 15, 15);  
    font-size: 200%;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}
/*trung tâm mua sắm*/
.vcf-mall-container{
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 20px;
}
.vcf-mall-container .content{
	width: 90%;
}

.vcf-mall-container .content .mall-slide-carousel{
	width: 100%;
}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item{
	width: 25%;
	/*display: inline-block;*/
	box-sizing: border-box;
	padding: 20px;
	height: 400px;

}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a{
	width: 100%;
	height: 100%;
	text-decoration: none;

	
}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a .tag-vcf-mall{
	width: 100%;
	height:100%;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	padding-top: 20px;
}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a .tag-vcf-mall .logo-vcf-mall{
	width: 150px;
	height: 150px;
	background-color: blue;
	border-radius: 50%;
	border:3px solid orange;
} 
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a .tag-vcf-mall .logo-vcf-mall .img-logo{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a .tag-vcf-mall .name-vcf-mall{
	font-size: 200%;
	color: orange;
	font-family: cursive;
}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a .tag-vcf-mall .vote-star{
	width: 100%;
	margin-top: 20px;
}
.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
a .tag-vcf-mall .vote-star .stars{
	display: table;
}
/*phần tìm kiếm phổ biến*/
.popular-search-product{
	display: inline-block;
	box-sizing: border-box;
	/*height: 47rem;*/
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;
}
.popular-search-product .content {
	width: 90%;
	margin-top: 20px;
}
.popular-search-product .content a{
	text-decoration-line: none;
}
.popular-search-product .content a .most-popular-product{
   width:20rem;
   display: table;
   height: auto;
   /*float: left;*/
   box-sizing: border-box; 
   padding: 5px;
}
.popular-search-product .content a .most-popular-product .most-popular-product-content{
	width:100%;
	height: 100%;
	background-color: #e3e0b7;
	padding-top: 10px;
	font-size: 50%;
	border-radius: 10px;

}
.popular-search-product .content a .most-popular-product:hover .most-popular-product-content {
	box-shadow: 0px 4px 8px 1px #000000b5;
}
.popular-search-product .content .most-popular-product .img-product-content{
	width: 90%;
	display: block;
	margin: auto;
	padding-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*.popular-search-product .content .cell-other-popular{
	box-sizing:border-box;
	float: left;
}
.popular-search-product .content .container{
	padding: 3px; width: 100%; height: 95%; background-color: #b7dbe1;
	vertical-align: middle;
}
.popular-search-product .content .container:hover{
	box-shadow: 3px 4px 8px 0px #282525;
}
 .popular-search-product .content .cell-other-popular .cell-img-product-content{
 	width: 50%;
 	height: 95%;
 	margin:5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
 }*/
/*phâm danh mục ngành hàng*/
.type-product{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 20px;
	/*height: 32rem;*/
}
.type-product .content {
	height: auto;
    width: 90%;
}
.type-product .content .content-type{
	height: 200px;
	box-sizing: border-box;
    padding: 5px;
}
.type-product  .content .content-type .content-product{
	height: 200px;
	width: 100%;
	background-color: white;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.type-product .content .content-type .content-product .name-type-product{
	width: 100%;
	height: 100%;
	line-height: 200px;
	text-align: center;
	font-size: 150%;
	font-family: cursive;
}
.type-product  .content .content-type a{
	text-decoration: none;
	color:#075d7c; 
}
.type-product .content .content-type a:hover{	
	color: yellow;
}
.type-product .content .content-type a:hover  .name-type-product{
	background-color: #000000ab;
}
/*sản phẩm*/
.list-result-product {
	display: inline-block;
	box-sizing: border-box;
	/*height: 47rem;*/
	width: 100%;
}
.list-result-product .content{
	height: auto;
	width: 90%;
}
.list-result-product .content .item-result-product{
	box-sizing: border-box;
    height: auto ;
    min-height: 20rem;
    float: left;
    padding:10px;
}
.list-result-product .content .item-result-product .content-product{
	height: 100%;
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 8px 0px #d8d8d8;
	border-radius: 5px;
	padding-bottom: 5px;
	color: #807e7e;
	overflow: hidden;
	text-align: center;
}
.list-result-product .content .item-result-product .content-product:hover{
	box-shadow: 0px 4px 8px 1px #000000b5;
	transform: scale(1.1,1.1);
	cursor: pointer;
}
.list-result-product .content .item-result-product .content-product .img-product-content{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.list-result-product .content .item-result-product .content-product .img-product-content img{
	width: 100%;
	height: 140px;
	object-fit: contain;
}

/*rating product*/
.stars{
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	left: 0rem;
}
.stars ul li{
	text-decoration: none;
	list-style: none;
	float: left;
	outline: none;
	border:none;
	padding-left: 2px;
	height: 1rem;
}
.stars h6{
	line-height: 20px;
}
.stars ul {
	padding: 0px;
}
.star-none-select{
    color:gray;
}
.star-select{
    color:orange;
}
.smooth-scrolling-page-card{
	width: 50px;
	position: fixed;
	z-index: 1000;
	/*display: inline-block;*/
	display: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	top: 40%;
	left: 0px;
	background-color: #095764;
	padding-top: 10px;
	padding-left: 5px;
}
.smooth-scrolling-page-card .list{
	width: 100%;
	padding: 0px;
}
.text-maxlength {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 18px;     /* fallback */
	max-height: 36px;      /* fallback */
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.smooth-scrolling-page-card .list a .item{
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;	
	border:2px solid white;
	border-radius:50%; 
	list-style: none;
	margin: 5px;
	lighting-color: 30px;
	font-size: 120%;
	color: white;
}
/*.smooth-scrolling-page-card .list a:hover  .title-hover-on-tab{
	display: table;
}*/
.smooth-scrolling-page-card .list a .title-hover-on-tab{
	top: 2%;
	left: 50px;
	position: absolute;
	width: 200px;
	display: none;
	/*transform:translateX(-210px);*/
	background-color: #095764;
	color: white;
	clip-path: polygon(95% 0%, 100% 50% , 95% 100% , 5% 100% , 0% 50% , 5% 0%);
	padding-left: 20px;
	text-align: center;
}

.flickity-page-dots {
  display: none;
}
@media screen and (max-width: 850px)
{
	
	.img-slide .carousel{
		margin-left: 0px;
		width: 100% !important;
	 	top:50% !important;
	}
	.img-slide .carousel-item img{
		width: 100%;
		height: 100%;
	}

	.popular-search-product .content a .most-popular-product{
		width:15rem;
	}

	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item{
		width: 33.33%;
		/*display: inline-block;*/
		box-sizing: border-box;
		padding: 15px;
		height: 370px;

	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a{
		width: 100%;
		height: 100%;
		text-decoration: none;

		
	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall{
		width: 100%;
		height:100%;
		text-align: center;
		background-color: white;
		border-radius: 10px;
		padding-top: 20px;
	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall{
		width: 150px;
		height: 150px;
		background-color: blue;
		border-radius: 50%;
		border:3px solid orange;
	} 
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall .img-logo{
		width: 100%;
		height: 100%;
	}

}
@media screen and (max-width: 600px )
{
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item{
		width: 33.33%;
		height: 350px;

	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall{
		width: 120px;
		height: 120px;
	} 

}
@media screen and (max-width: 500px)
{
	.type-product .content .content-type .content-product .name-type-product{
		font-size: 100%;
	}
	.popular-search-product .content a .most-popular-product{
		width:10rem;
	}

	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item{
		width: 50%;
		height: 330px;

	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall{
		padding-top: 15px;
	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall{
		width: 120px;
		height: 120px;
	} 
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall .img-logo{
		width: 100%;
		height: 100%;
	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .name-vcf-mall{
		font-size: 150%;
		color: orange;
		font-family: cursive;
	}
	.type-product .content {
    	width: 100%;
	}
	.type-product .content .content-type{
		height: 150px;
		box-sizing: border-box;
	    padding: 5px;
	}
	.type-product  .content .content-type .content-product{
		height: 150px;
	}
	.type-product .content .content-type .content-product .name-type-product{
		font-size: 120%;
		line-height: 150px;
	}

}
@media screen and (max-width: 350px){
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item {
		padding: 5px;
	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall{
		width: 100px;
		height: 100px;
	} 
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .logo-vcf-mall .img-logo{
		width: 100%;
		height: 100%;
	}
	.vcf-mall-container .content .mall-slide-carousel .mall-carousel-item 
	a .tag-vcf-mall .name-vcf-mall{
		font-size: 150%;
		color: orange;
		font-family: cursive;
	}
	.type-product .content {
    	width: 100%;
	}
	.type-product .content .content-type{
		height: 100px;
		box-sizing: border-box;
	    padding: 5px;
	}
	.type-product  .content .content-type .content-product{
		height: 100px;
	}
	.type-product .content .content-type .content-product .name-type-product{
		font-size: 120%;
		line-height: 100px;
	}
}